<section class="benefit">
  <div class="container">
    <div class="benefit-content">
      <h2 class="title">Сделайте ваш бизнес проще</h2>
      <ul class="benefit-list">
        <li>
          <img src="img/svg/benefit-1.svg" alt="">
          <span>
            <h4>Вы не несёте материальные риски</h4>
            <p>Вся ответственность лежит на нас</p>
          </span>
        </li>
        <li>
          <img src="img/svg/benefit-2.svg" alt="">
          <span>
            <h4>Персональный менеджер для каждого клиента</h4>
          </span>
        </li>
        <li>
          <img src="img/svg/benefit-3.svg" alt="">
          <span>
            <h4>Никакого срыва сроков</h4>
            <p>Все непредвиденные моменты мы вовремя компенсируем за счет резервнеых ресурсов</p>
          </span>
        </li>
      </ul>
    </div>
    <a href="https://www.youtube.com/watch?v=v74_mf2usc0" data-fancybox class="benefit-video video">
      <img src="" alt="">
      <img src="" alt="">
    </a>
  </div>
</section>