<div class="news-item">
  <img src="img/head-service-item.jpg" alt="" class="news-item__img">
  <div class="news-item__content">
    <small class="news-item__date">12 июля 2022</small>
    <a href="javascript:;" data-fancybox data-src="#news-popup-100" class="news-item__title">Заголовок новости</a>
    <div class="news-item__text">
      <p>АО «Электронкомплекс» получен QR-код, подтверждающий готовность выполнения стандарта безопасной деятельности организации (в соответствии с Постановлением Правительства Санкт-Петербурга от 13.03.2020 № 121 «О мерах по противодействию распространению в Санкт-Петербурге новой коронавирусной инфекции (COVID-19)».</p>
    </div>
  </div>
</div>