<section class="offer">
  <div class="container">
    <div class="offer-form">
      <h3>Получите индивидуальное предложение</h3>
      <form action="#">
        <label class="label">
          <input type="text" name="" class="input" placeholder="Контактное лицо*" required />
        </label>
        <label class="label">
          <input type="tel" name="" class="input masked" placeholder="Номер телефона*" required />
        </label>
        <label class="label">
          <input type="email" name="" class="input" placeholder="E-mail*" required />
        </label>
        <label class="label label-file">
          <input type="file" />
          <p>Прикрепите ТЗ</p>
        </label>
        <label class="label">
          <textarea name="" class="textarea" placeholder="Комментарий: укажите данные груза, его особенности, ваши пожелания о доставке"></textarea>
        </label>
        <label class="checkbox">
          <input type="checkbox" required checked />
          <p>Согласие на обработку персональных данных*</p>
        </label>
        <button type="submit" class="btn btn-blue">Отправить заявку</button>
      </form>
    </div>
  </div>
</section>