<section class="sert">
  <div class="container">
    <h2 class="title">Наши сертификаты</h2>
    <ul class="sert-list">
      <li>
        <a href="img/sert.jpg" data-fancybox>
          <img src="img/sert.jpg" alt="">
          <p>IQNET 2019 - 2022 год</p>
        </a>
      </li>
      <li>
        <a href="img/sert.jpg" data-fancybox>
          <img src="img/sert.jpg" alt="">
          <p>IQNET 2019 - 2022 год</p>
        </a>
      </li>
      <li>
        <a href="img/sert.jpg" data-fancybox>
          <img src="img/sert.jpg" alt="">
          <p>IQNET 2019 - 2022 год</p>
        </a>
      </li>
      <li>
        <a href="img/sert.jpg" data-fancybox>
          <img src="img/sert.jpg" alt="">
          <p>IQNET 2019 - 2022 год</p>
        </a>
      </li>
    </ul>
  </div>
</section>