<section class="text">
  <div class="container">
    <div class="text-section">
      <div class="text-section__img"><img src="img/text-section.jpg" alt=""></div>
      <div class="text-content text-content__section">
        <h2>Характеристики нашего склада</h2>
        <h3>Склад №1 (бетонный)</h3>
        <p>8 000 палетомест, минимально допустимая температура хранения +9С, максимально допустимая температура хранения +25С. Электроштабелеры, высота стеллажей 8 метров, гидравлические эстакады (2 шт.). Разгрузка/погрузка ж/д вагона внутри теплого склада. Разгрузка/погрузка автомобилей типа "Газель" внутри теплого склада. Сплинкерная система пожаротушения.</p>
      </div>
    </div>
    <div class="text-section">
      <div class="text-section__img"><img src="img/text-section.jpg" alt=""></div>
      <div class="text-content text-content__section">
        <h3>Склад №2 (сэндвич панели)</h3>
        <p>8 000 палетомест, минимально допустимая температура хранения +9С, максимально допустимая температура хранения +25С. Электроштабелеры, высота стеллажей 8 метров, гидравлические эстакады (2 шт.). Разгрузка/погрузка ж/д вагона внутри теплого склада. Разгрузка/погрузка автомобилей типа "Газель" внутри теплого склада. Сплинкерная система пожаротушения.</p>
      </div>
    </div>
  </div>
</section>