.popup
  display: none
  max-width: 540px
  width: 100%
  padding: 30px
  h1
    text-align: center
  h2
    text-align: center
    font-weight: 700
    font-size: 20px
  h3
    text-align: center
    font-size: 14px
    margin: 5px 0 20px

#popup-map
  max-width: 600px
  padding: 0
  img
    width: 100%

#popup-thanks
  padding: 100px 30px
  h3
    margin: 10px 0 0

#popup-offer
  .download
    justify-content: flex-end
    margin-bottom: 10px
