{% extends 'components/_layout.html' %}
{% set site_title = 'Home' %}

{% block content %}

<section class="promo">
  <div class="container">
    <h1>Складской<br> терминал<br> «Электронкомплекс»</h1>
    <div class="btn-wrap"><a href="#" class="btn btn-blue">Получить индивидуальное предложение</a></div>
    <div class="promo-spec">
      <div class="promo-spec__item">
        <b>Наши услуги:</b>
        <p>Все виды хранения, аренда складов, работа с негабаритными грузами</p>
      </div>
      <div class="promo-spec__item">
        <b>Услуги для вашей отрасли</b>
        <p>Все виды хранения, аренда складов, работа с негабаритными грузами</p>
      </div>
    </div>
  </div>
</section>

{% include 'components/benefit.html' %}

<section class="working">
  <div class="container">
    <h2 class="title">Как мы работаем?</h2>
    <div class="working-steps">
      <div class="working-steps__line"></div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Вы можете приехать и осмотреть склад. Наши работники всегда помогут и ответят на ваши впросы</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
    </div>
  </div>
</section>

{% endblock %}