{% extends 'components/_layout.html' %}
{% set site_title = 'Home' %}

{% block content %}

<section class="promo">
  <div class="container">
    <h1>Складской<br> терминал<br> «Электронкомплекс»</h1>
    <div class="btn-wrap"><a href="#" class="btn btn-blue">Получить индивидуальное предложение</a></div>
    <div class="promo-spec">
      <div class="promo-spec__item">
        <b>Наши услуги:</b>
        <p>Все виды хранения, аренда складов, работа с негабаритными грузами</p>
      </div>
      <div class="promo-spec__item">
        <b>Услуги для вашей отрасли</b>
        <p>Все виды хранения, аренда складов, работа с негабаритными грузами</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}