{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="promo">
  <div class="container">
    <h1>Складской<br> терминал<br> «Электронкомплекс»</h1>
    <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-offer" class="btn btn-blue">Получить индивидуальное предложение</a></div>
    <div class="promo-spec">
      <div class="promo-spec__item">
        <b>Наши услуги:</b>
        <p>Все виды хранения, аренда складов, работа с негабаритными грузами</p>
      </div>
      <div class="promo-spec__item">
        <b>Услуги для вашей отрасли</b>
        <p>Все виды хранения, аренда складов, работа с негабаритными грузами</p>
      </div>
    </div>
  </div>
</section>

{% include 'components/benefit.html' %}

<section class="working">
  <div class="container">
    <h2 class="title">Как мы работаем?</h2>
    <div class="working-steps">
      <div class="working-steps__line"></div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Вы можете приехать и осмотреть склад. Наши работники всегда помогут и ответят на ваши впросы</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
      <div class="working-steps__item">
        <div class="working-steps__text">Мы составляем и подписываем договор</div>
      </div>
    </div>
  </div>
</section>

<section class="storage">
  <div class="container">
    <div class="storage-safe">
      <h2 class="title">Ответственное хранение и обработка грузов</h2>
      <h3 class="subtitle">Наш склад категории А, более N тыс кв. м.</h3>
      <div class="storage-safe__row">
        <div class="storage-safe__wrapper">
          <div class="storage-safe__carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/storage-slide.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/storage-slide.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/storage-slide.jpg" alt=""></div>
            </div>
          </div>
          <div class="storage-safe__pagination"></div>
        </div>
        <div class="storage-safe__content">
          <ul class="storage-safe__list">
            <li>
              <h4>Лицензия на хранение опасного груза категории 3</h4>
              <p>Вы можете быть уверены в безопаности своего груза. Наш склад имеет все условия для обеспечения бещопасного хранения</p>
            </li>
            <li>
              <h4>Лицензия на хранение опасного груза категории 3</h4>
              <p>Вы можете быть уверены в безопаности своего груза. Наш склад имеет все условия для обеспечения бещопасного хранения</p>
            </li>
          </ul>
          <div class="storage-safe__cargo">Нам доверяют груз ответственности</div>
        </div>
      </div>
    </div>
    <div class="storage-section">
      <h2 class="title">Услуги по хранению и обработке грузов:</h2>
      <ul class="section-list">
        <li>
          <a href="#">
            <img src="img/svg/storage-1.svg" alt="">
            <p>Погрузо-разгрузочные работы для всех видов транспорта</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/svg/storage-2.svg" alt="">
            <p>Сортировка груза при приеме</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/svg/storage-3.svg" alt="">
            <p>Подготовка складской сопроводительной и транспортной документации</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/svg/storage-4.svg" alt="">
            <p>Выпуск отчетов для клиентов по движению товаров</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/svg/storage-5.svg" alt="">
            <p>Инвентаризация товаров (выборочная, циклическая, полная)</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/svg/storage-6.svg" alt="">
            <p>Комплектация заказов (попалетная, коробочная, поштучная) с учетом заданных критериев</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/svg/storage-7.svg" alt="">
            <p>Формирование паллет с обвязкой стрейч-пленкой</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/svg/storage-8.svg" alt="">
            <p>Услуги по приему и утилизации брака</p>
          </a>
        </li>
      </ul>
      <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-offer" class="btn btn-blue">Рассчитать стоимость аренды склада</a></div>
      <img src="img/storage-loader.jpg" alt="" class="storage-loader">
    </div>
  </div>
</section>

<section class="accompanying">
  <div class="container">
    <h2 class="title">Сопутствующие услуги:</h2>
    <ul class="section-list section-list__white">
      <li>
        <a href="#">
          <img src="img/svg/accompanying-1.svg" alt="">
          <p>Ответственное хранение товаров</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/svg/accompanying-2.svg" alt="">
          <p>Доставка по технологии just-in-time (точно в срок)</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/svg/accompanying-3.svg" alt="">
          <p>Выполнение требований грузовладельца FIFO</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/svg/accompanying-4.svg" alt="">
          <p>Отгрузка со склада или экспедирование товаров до склада грузополучателя</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/svg/accompanying-5.svg" alt="">
          <p>Кросс-докинг (перегрузка товаров для последующей транспортировки)</p>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="complex">
  <div class="container">
    <div class="complex-consult">
      <div class="complex-consult__text">
        <h2 class="title">Хотите получить консультацию по комплексу услуг?</h2>
        <b>Мы подберем для вас те виды услуг, которые помогут в решении ваших задач</b>
      </div>
      <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-call" class="btn btn-white">Получить!</a></div>
    </div>
    {% include 'components/complex.html' %}
  </div>
</section>

<section class="security">
  <div class="container">
    <h2 class="title">Безопасность ваших грузов</h2>
    <h3 class="subtitle">Вы можете не беспокоиться за сохранность ваших грузов</h3>
    <ul class="security-list">
      <li><img src="img/svg/security-1.svg" alt=""><b>Склад несет ответственность за сохранность груза</b></li>
      <li><img src="img/svg/security-2.svg" alt=""><b>Все грузы страхуются</b></li>
      <li><img src="img/svg/security-3.svg" alt=""><b>У нас собственная служба безопасности</b></li>
    </ul>
  </div>
</section>

{% include 'components/sert.html' %}

{% include 'components/qr.html' %}

{% include 'components/ask.html' %}

{% include 'components/contact.html' %}

{% endblock %}